@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.responsive-table-container {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .responsive-table-container {
    width: 100%;
    overflow-x: scroll;
  }
}

:where(
    .css-dev-only-do-not-override-qnu6hi
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card,
:where(
    .css-dev-only-do-not-override-qnu6hi
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-card,
:where(
    .css-dev-only-do-not-override-qnu6hi
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-circle,
:where(
    .css-dev-only-do-not-override-qnu6hi
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload-list.ant-upload-list-picture-circle {
  justify-content: center;
}
